body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Меню_компании_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:-3px;
    top:179px;
    width:183px;
    height:327px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:324px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:173px;
    height:317px
}

.u2_normal {
    background-image: url('../Меню_компании_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:58px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Меню_компании_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:52px;
    width:168px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:42px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:88px;
    width:168px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:108px;
    width:168px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:128px;
    width:168px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:148px;
    width:168px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Меню_компании_files/u2_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:168px;
    width:168px;
    height:52px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:58px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Меню_компании_files/u4_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:220px;
    width:168px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:256px;
    width:168px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Меню_компании_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:276px;
    width:168px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Шапка_files/u21_normal.png');
}

.u23_container {
    position:absolute;
    left:636px;
    top:52px;
    width:264px;
    height:104px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Шапка_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:101px;
    top:0px;
    width:700px;
    height:52px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u26 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Шапка_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:1px;
    top:52px;
    width:635px;
    height:79px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u28 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:647px;
    top:82px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:647px;
    top:117px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:833px;
    top:83px;
    width:61px;
    height:54px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:1px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:534px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_normal {
    background-image: url('../Шапка_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:58px;
    width:316px;
    height:66px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u37_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u37_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u38 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u39_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u41_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u43_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u45_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u47_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u49_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u51_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u53_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Одна_компания_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:580px;
    top:159px;
    width:110px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Одна_компания_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:3px;
    top:353px;
    width:168px;
    height:52px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:58px;
}

.u60 {
    position:absolute;
    left:2px;
    top:18px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:189px;
    top:191px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:271px;
    top:191px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:369px;
    top:191px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:201px;
    top:223px;
    width:89px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Одна_компания_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:189px;
    top:252px;
    width:164px;
    height:153px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:153px;
}

.u66 {
    position:absolute;
    left:2px;
    top:68px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Одна_компания_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:320px;
    top:217px;
    width:91px;
    height:25px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:25px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:363px;
    top:252px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Одна_компания_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:533px;
    top:338px;
    width:133px;
    height:27px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:27px;
}

.u71 {
    position:absolute;
    left:2px;
    top:6px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Одна_компания_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:532px;
    top:272px;
    width:108px;
    height:18px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:18px;
}

.u73 {
    position:absolute;
    left:2px;
    top:1px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Одна_компания_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:751px;
    top:316px;
    width:149px;
    height:272px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:278px;
}

.u75 {
    position:absolute;
    left:2px;
    top:128px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Одна_компания_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:751px;
    top:192px;
    width:149px;
    height:114px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:120px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:776px;
    top:265px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:760px;
    top:224px;
    width:130px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80_normal {
    background-image: url('../Одна_компания_files/u74_normal.png');
}

.u80_container {
    position:absolute;
    left:751px;
    top:598px;
    width:149px;
    height:272px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:278px;
}

.u81 {
    position:absolute;
    left:2px;
    top:112px;
    width:145px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Одна_компания_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:363px;
    top:300px;
    width:284px;
    height:24px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:284px;
    height:24px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Одна_компания_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:369px;
    top:340px;
    width:154px;
    height:22px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:22px;
}

.u85 {
    position:absolute;
    left:2px;
    top:3px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:363px;
    top:380px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:363px;
    top:414px;
    width:297px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:189px;
    top:484px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:220px;
    top:510px;
    width:150px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:189px;
    top:590px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:220px;
    top:616px;
    width:320px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Одна_компания_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:177px;
    top:920px;
    width:552px;
    height:260px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:558px;
    height:266px;
}

.u93 {
    position:absolute;
    left:2px;
    top:114px;
    width:548px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:189px;
    top:660px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Одна_компания_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:210px;
    top:690px;
    width:70px;
    height:70px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:70px;
}

.u96 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Одна_компания_files/u95_normal.png');
}

.u97_container {
    position:absolute;
    left:300px;
    top:690px;
    width:70px;
    height:70px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:70px;
}

.u98 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Одна_компания_files/u95_normal.png');
}

.u99_container {
    position:absolute;
    left:390px;
    top:690px;
    width:70px;
    height:70px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:70px;
}

.u100 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:189px;
    top:784px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Одна_компания_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:189px;
    top:824px;
    width:111px;
    height:26px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:5px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Одна_компания_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:324px;
    top:825px;
    width:156px;
    height:25px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:25px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Одна_компания_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:509px;
    top:822px;
    width:181px;
    height:28px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:28px;
}

.u107 {
    position:absolute;
    left:2px;
    top:6px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Одна_компания_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:751px;
    top:888px;
    width:149px;
    height:292px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:298px;
}

.u109 {
    position:absolute;
    left:2px;
    top:122px;
    width:145px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:1274px;
    width:900px;
    height:38px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u111 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u112_menu {
    position:absolute;
    left:-3px;
    top:1187px;
    width:909px;
    height:35px;
}

#u112_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u113 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u114_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u116_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u118_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u120_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u122_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u124_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u126_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u128_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:1216px;
    width:900px;
    height:58px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u132 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:25px;
    top:1284px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:795px;
    top:1284px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:509px;
    top:850px;
    width:204px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:646px;
    top:249px;
    width:120px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:463px;
    top:217px;
    width:203px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

