body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Шапка_files/u21_normal.png');
}

.u0_container {
    position:absolute;
    left:636px;
    top:52px;
    width:264px;
    height:104px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Шапка_files/u23_normal.png');
}

.u2_container {
    position:absolute;
    left:101px;
    top:0px;
    width:700px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u3 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Шапка_files/u25_normal.png');
}

.u4_container {
    position:absolute;
    left:1px;
    top:52px;
    width:635px;
    height:79px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:647px;
    top:82px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:647px;
    top:117px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:833px;
    top:83px;
    width:61px;
    height:54px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:1px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:534px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../Шапка_files/u32_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:58px;
    width:316px;
    height:66px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u12 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u14_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u15 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u16_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u24_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u26_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u28_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Скидки_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:690px;
    top:159px;
    width:106px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:211px;
    top:192px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:270px;
    top:192px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_menu {
    background-image: url('../Меню_Скидки_files/u38_menu.png');
}

.u38_menu {
    position:absolute;
    left:-3px;
    top:179px;
    width:205px;
    height:195px;
}

#u38_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:192px;
}

#u39 {
    position:absolute;
    left:3px;
    top:3px;
    width:195px;
    height:185px
}

.u40_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:20px;
    width:190px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:40px;
    width:190px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:60px;
    width:190px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:80px;
    width:190px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:100px;
    width:190px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:120px;
    width:190px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:140px;
    width:190px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Меню_Скидки_files/u40_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:160px;
    width:190px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Меню_Скидки_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:368px;
    width:196px;
    height:315px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:321px;
}

.u59 {
    position:absolute;
    left:2px;
    top:150px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:211px;
    top:218px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:16px;
    top:0px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:590px;
    top:294px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:688px;
    top:294px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:770px;
    top:294px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Скидки_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:220px;
    top:358px;
    width:79px;
    height:80px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:80px;
}

.u74 {
    position:absolute;
    left:2px;
    top:32px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:220px;
    top:358px;
    width:200px;
    height:200px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u76 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Скидки_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:461px;
    top:358px;
    width:75px;
    height:78px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:78px;
}

.u78 {
    position:absolute;
    left:2px;
    top:31px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Скидки_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:700px;
    top:358px;
    width:76px;
    height:78px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:78px;
}

.u80 {
    position:absolute;
    left:2px;
    top:31px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Скидки_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:220px;
    top:591px;
    width:78px;
    height:78px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:78px;
}

.u82 {
    position:absolute;
    left:2px;
    top:31px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Скидки_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:461px;
    top:591px;
    width:76px;
    height:76px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u84 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u85_container {
    position:absolute;
    left:220px;
    top:591px;
    width:200px;
    height:200px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u86 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u87_container {
    position:absolute;
    left:461px;
    top:358px;
    width:200px;
    height:200px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u88 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u89_container {
    position:absolute;
    left:700px;
    top:358px;
    width:200px;
    height:200px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u90 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u91_container {
    position:absolute;
    left:461px;
    top:591px;
    width:200px;
    height:200px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u92 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Скидки_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:700px;
    top:591px;
    width:76px;
    height:78px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:78px;
}

.u94 {
    position:absolute;
    left:2px;
    top:31px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u95_container {
    position:absolute;
    left:700px;
    top:591px;
    width:200px;
    height:200px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u96 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Скидки_files/u73_normal.png');
}

.u97_container {
    position:absolute;
    left:220px;
    top:824px;
    width:79px;
    height:80px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:80px;
}

.u98 {
    position:absolute;
    left:2px;
    top:32px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u99_container {
    position:absolute;
    left:220px;
    top:824px;
    width:200px;
    height:200px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u100 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Скидки_files/u77_normal.png');
}

.u101_container {
    position:absolute;
    left:461px;
    top:824px;
    width:75px;
    height:78px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:78px;
}

.u102 {
    position:absolute;
    left:2px;
    top:31px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Скидки_files/u79_normal.png');
}

.u103_container {
    position:absolute;
    left:700px;
    top:824px;
    width:76px;
    height:78px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:78px;
}

.u104 {
    position:absolute;
    left:2px;
    top:31px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u105_container {
    position:absolute;
    left:461px;
    top:824px;
    width:200px;
    height:200px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u106 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Скидки_files/u75_normal.png');
}

.u107_container {
    position:absolute;
    left:700px;
    top:824px;
    width:200px;
    height:200px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u108 {
    position:absolute;
    left:2px;
    top:92px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Скидки_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:278px;
    top:611px;
    width:132px;
    height:41px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:41px;
}

.u110 {
    position:absolute;
    left:2px;
    top:12px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Скидки_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:786px;
    top:834px;
    width:43px;
    height:58px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:58px;
}

.u112 {
    position:absolute;
    left:2px;
    top:21px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:225px;
    top:704px;
    width:190px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:286px;
    top:683px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:480px;
    top:683px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:470px;
    top:704px;
    width:180px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Скидки_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:546px;
    top:834px;
    width:107px;
    height:51px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:51px;
}

.u118 {
    position:absolute;
    left:2px;
    top:18px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Скидки_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:776px;
    top:611px;
    width:112px;
    height:29px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:29px;
}

.u120 {
    position:absolute;
    left:2px;
    top:6px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Скидки_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:287px;
    top:833px;
    width:127px;
    height:62px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:62px;
}

.u122 {
    position:absolute;
    left:2px;
    top:23px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Скидки_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:536px;
    top:370px;
    width:112px;
    height:55px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:55px;
}

.u124 {
    position:absolute;
    left:2px;
    top:20px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Скидки_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:764px;
    top:377px;
    width:124px;
    height:48px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:124px;
    height:48px;
}

.u126 {
    position:absolute;
    left:2px;
    top:16px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Скидки_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:547px;
    top:598px;
    width:101px;
    height:66px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:66px;
}

.u128 {
    position:absolute;
    left:2px;
    top:25px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Скидки_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:299px;
    top:388px;
    width:105px;
    height:40px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:40px;
}

.u130 {
    position:absolute;
    left:2px;
    top:12px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:230px;
    top:474px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:247px;
    top:448px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:711px;
    top:704px;
    width:181px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:720px;
    top:683px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:705px;
    top:474px;
    width:190px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:778px;
    top:448px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:480px;
    top:448px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:470px;
    top:474px;
    width:183px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:704px;
    top:928px;
    width:189px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:778px;
    top:906px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:465px;
    top:928px;
    width:191px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:481px;
    top:906px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:225px;
    top:928px;
    width:190px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:285px;
    top:906px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../Скидки_files/u145_normal.png');
}

.u145_container {
    position:absolute;
    left:470px;
    top:1088px;
    width:266px;
    height:42px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:42px;
}

.u146 {
    position:absolute;
    left:2px;
    top:13px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:1252px;
    width:900px;
    height:38px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u148 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u149_menu {
    position:absolute;
    left:-3px;
    top:1165px;
    width:909px;
    height:35px;
}

#u149_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u150 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u151_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u153_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u155_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u157_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u159_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u161_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u163_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u165_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:1194px;
    width:900px;
    height:58px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u169 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:25px;
    top:1262px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:795px;
    top:1262px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:16px;
    top:0px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:540px;
    top:202px;
    width:270px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

