<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="telerik">
			<section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<telerik>
		<webAssets useTelerikContentDeliveryNetwork="true" />
	</telerik>

	<system.web>
		<pages>
			<namespaces>
				<add namespace="Telerik.Web.Mvc.UI" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="asset" />
			<add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
		</handlers>
	</system.webServer>
</configuration>