body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Шапка_files/u21_normal.png');
}

.u0_container {
    position:absolute;
    left:636px;
    top:52px;
    width:264px;
    height:104px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Шапка_files/u23_normal.png');
}

.u2_container {
    position:absolute;
    left:101px;
    top:0px;
    width:700px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u3 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Шапка_files/u25_normal.png');
}

.u4_container {
    position:absolute;
    left:1px;
    top:52px;
    width:635px;
    height:79px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:647px;
    top:82px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:647px;
    top:117px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:833px;
    top:83px;
    width:61px;
    height:54px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:1px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:534px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../Шапка_files/u32_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:58px;
    width:316px;
    height:66px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u12 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u14_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u15 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u16_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u24_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u26_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u28_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_menu {
    background-image: url('../Меню_афиша_files/u34_menu.png');
}

.u34_menu {
    position:absolute;
    left:-3px;
    top:179px;
    width:159px;
    height:235px;
}

#u34_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:232px;
}

#u35 {
    position:absolute;
    left:3px;
    top:3px;
    width:149px;
    height:225px
}

.u36_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:144px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:20px;
    width:144px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:40px;
    width:144px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:60px;
    width:144px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:80px;
    width:144px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:100px;
    width:144px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:120px;
    width:144px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:140px;
    width:144px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:160px;
    width:144px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:180px;
    width:144px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Меню_афиша_files/u36_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:200px;
    width:144px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Меню_афиша_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:750px;
    width:150px;
    height:283px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:289px;
}

.u59 {
    position:absolute;
    left:2px;
    top:132px;
    width:146px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:0px;
    top:428px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:0px;
    top:637px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:4px;
    top:459px;
    width:146px;
    height:154px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:4px;
    top:672px;
    width:146px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:160px;
    top:192px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:219px;
    top:192px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:191px;
    top:263px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:796px;
    top:217px;
    width:224px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:191px;
    top:289px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_container {
    position:absolute;
    left:177px;
    top:315px;
    width:571px;
    height:547px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:571px;
    height:547px;
}

.u71 {
    position:absolute;
    left:2px;
    top:266px;
    width:567px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:190px;
    top:901px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Афиша_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:177px;
    top:934px;
    width:711px;
    height:543px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:543px;
}

.u74 {
    position:absolute;
    left:2px;
    top:264px;
    width:707px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:1611px;
    width:900px;
    height:38px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u76 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u77_menu {
    position:absolute;
    left:-3px;
    top:1524px;
    width:909px;
    height:35px;
}

#u77_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u78 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u79_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u81_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u83_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u85_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u87_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u89_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u91_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u93_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:1553px;
    width:900px;
    height:58px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u97 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:25px;
    top:1621px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:795px;
    top:1621px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u101_container {
    position:absolute;
    left:177px;
    top:934px;
    width:690px;
    height:36px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:42px;
}

.u102 {
    position:absolute;
    left:2px;
    top:10px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u103_container {
    position:absolute;
    left:177px;
    top:1118px;
    width:144px;
    height:36px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u104 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u105_container {
    position:absolute;
    left:524px;
    top:1152px;
    width:144px;
    height:36px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u106 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u107_container {
    position:absolute;
    left:177px;
    top:1304px;
    width:144px;
    height:36px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u108 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u109_container {
    position:absolute;
    left:177px;
    top:980px;
    width:217px;
    height:117px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:123px;
}

.u110 {
    position:absolute;
    left:2px;
    top:50px;
    width:213px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u111_container {
    position:absolute;
    left:524px;
    top:970px;
    width:352px;
    height:172px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:358px;
    height:178px;
}

.u112 {
    position:absolute;
    left:2px;
    top:78px;
    width:348px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u113_container {
    position:absolute;
    left:177px;
    top:1154px;
    width:217px;
    height:130px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:136px;
}

.u114 {
    position:absolute;
    left:2px;
    top:57px;
    width:213px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u115_container {
    position:absolute;
    left:524px;
    top:1188px;
    width:317px;
    height:181px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:323px;
    height:187px;
}

.u116 {
    position:absolute;
    left:2px;
    top:82px;
    width:313px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u117_container {
    position:absolute;
    left:177px;
    top:1340px;
    width:283px;
    height:137px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:143px;
}

.u118 {
    position:absolute;
    left:2px;
    top:60px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u119_container {
    position:absolute;
    left:170px;
    top:305px;
    width:589px;
    height:565px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:571px;
}

.u120 {
    position:absolute;
    left:2px;
    top:274px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:16px;
    top:0px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:16px;
    top:0px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:712px;
    top:230px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:798px;
    top:398px;
    width:222px;
    height:224px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Афиша_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:430px;
    top:443px;
    width:120px;
    height:80px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u133 {
    position:absolute;
    left:2px;
    top:0px;
    width:116px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Афиша_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:472px;
    top:159px;
    width:108px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

