body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u0_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u2_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u4_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u6_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u8_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u12_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u14_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u16_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Шапка_ЛК_files/u125_normal.png');
}

.u19_container {
    position:absolute;
    left:635px;
    top:52px;
    width:264px;
    height:104px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Шапка_ЛК_files/u127_normal.png');
}

.u21_container {
    position:absolute;
    left:100px;
    top:0px;
    width:700px;
    height:52px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u22 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Шапка_ЛК_files/u129_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:52px;
    width:635px;
    height:79px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u24 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:0px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:533px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_normal {
    background-image: url('../Шапка_ЛК_files/u133_normal.png');
}

.u27_container {
    position:absolute;
    left:9px;
    top:58px;
    width:316px;
    height:66px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u28 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:645px;
    top:62px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:645px;
    top:104px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_menu {
    background-image: url('../Меню_ЛК_физ_files/u32_menu.png');
}

.u32_menu {
    position:absolute;
    left:-3px;
    top:179px;
    width:209px;
    height:275px;
}

#u32_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:272px;
}

#u33 {
    position:absolute;
    left:3px;
    top:3px;
    width:199px;
    height:265px
}

.u34_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:194px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:20px;
    width:194px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:40px;
    width:194px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:60px;
    width:194px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:80px;
    width:194px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:100px;
    width:194px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:120px;
    width:194px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:140px;
    width:194px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:160px;
    width:194px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:180px;
    width:194px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:200px;
    width:194px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:220px;
    width:194px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Меню_ЛК_физ_files/u34_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:240px;
    width:194px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Мероприятия_1_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:3px;
    top:385px;
    width:194px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:220px;
    top:192px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:418px;
    top:229px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:340px;
    top:192px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:732px;
    width:900px;
    height:38px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u67 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u68_menu {
    position:absolute;
    left:-3px;
    top:645px;
    width:909px;
    height:35px;
}

#u68_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u69 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u70_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u72_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u74_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u76_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u78_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u80_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u82_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u84_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:674px;
    width:900px;
    height:58px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u88 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:25px;
    top:742px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:795px;
    top:742px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u92 {
    position:absolute;
    left:220px;
    top:344px;
    width:863px;
    height:186px
}

.u93_normal {
    background-image: url('../Мероприятия_1_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:68px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:74px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Мероприятия_1_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:66px;
    top:0px;
    width:113px;
    height:68px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:74px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Мероприятия_1_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:179px;
    top:0px;
    width:103px;
    height:68px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:74px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:99px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Мероприятия_1_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:281px;
    top:0px;
    width:88px;
    height:68px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:74px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:84px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Мероприятия_1_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:369px;
    top:0px;
    width:130px;
    height:68px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:74px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Мероприятия_1_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:499px;
    top:0px;
    width:115px;
    height:68px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:74px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Мероприятия_1_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:614px;
    top:0px;
    width:90px;
    height:68px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:74px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Мероприятия_1_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:704px;
    top:0px;
    width:155px;
    height:68px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:74px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Мероприятия_1_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:68px;
    width:66px;
    height:52px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:58px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Мероприятия_1_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:66px;
    top:68px;
    width:113px;
    height:52px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:58px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Мероприятия_1_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:179px;
    top:68px;
    width:103px;
    height:52px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:58px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Мероприятия_1_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:281px;
    top:68px;
    width:88px;
    height:52px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:58px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Мероприятия_1_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:369px;
    top:68px;
    width:130px;
    height:52px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:58px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Мероприятия_1_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:499px;
    top:68px;
    width:115px;
    height:52px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:58px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Мероприятия_1_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:614px;
    top:68px;
    width:90px;
    height:52px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:58px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Мероприятия_1_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:704px;
    top:68px;
    width:155px;
    height:52px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:58px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Мероприятия_1_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:120px;
    width:66px;
    height:61px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:67px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Мероприятия_1_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:66px;
    top:120px;
    width:113px;
    height:61px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:67px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Мероприятия_1_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:179px;
    top:120px;
    width:103px;
    height:61px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:67px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Мероприятия_1_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:281px;
    top:120px;
    width:88px;
    height:61px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:67px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../Мероприятия_1_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:369px;
    top:120px;
    width:130px;
    height:61px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:67px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Мероприятия_1_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:499px;
    top:120px;
    width:115px;
    height:61px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:67px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Мероприятия_1_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:614px;
    top:120px;
    width:90px;
    height:61px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:67px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Мероприятия_1_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:704px;
    top:120px;
    width:155px;
    height:61px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:67px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../Мероприятия_1_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:440px;
    top:558px;
    width:266px;
    height:42px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:42px;
}

.u142 {
    position:absolute;
    left:2px;
    top:13px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:220px;
    top:309px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:220px;
    top:267px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

