<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="smolensk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/smolensk.log" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <maxSizeRollBackups value="14" />
            <maximumFileSize value="15000KB" />
            <datePattern value="yyyy.MM.dd" />
            <staticLogFileName value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5p %d %-22.22c{1} %-18.18M - %m%n" />
            </layout>
        </appender>
        <root>
            <level value="All" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </log4net>
    
    
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <!-- Lifetime manager types -->
        <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="ThumbnailGenerator" type="smolensk.common.Infrastructure.ThumbnailGenerator, smolensk.common" />
        <alias alias="NewsImageMarkupProcessorSettings" type="meridian.smolensk.impl.Images.NewsImageMarkupProcessorSettings, meridian.smolensk" />
        <alias alias="BlogsImageMarkupProcessorSettings" type="meridian.smolensk.impl.Images.BlogsImageMarkupProcessorSettings, meridian.smolensk" />
        <alias alias="VideoMarkupProcessorSettings" type="meridian.smolensk.impl.Video.VideoMarkupProcessorSettings, meridian.smolensk" />
        <alias alias="ITemplateProvider" type="Footboy.Shared.ITemplateProvider, Footboy.Shared" />
        <alias alias="AspxTemplateProvider" type="Footboy.Client.AspxTemplateProvider, Footboy.Client" />
        <alias alias="INotificationSender" type="Footboy.Shared.INotificationSender, Footboy.Shared" />
        <alias alias="ActiveMQNotificationSender" type="Footboy.Client.ActiveMQNotificationSender, Footboy.Client" />
        <alias alias="FileNotificationSender" type="Footboy.Client.FileNotificationSender, Footboy.Client" />
        <alias alias="IConnectionFactory" type="Apache.NMS.IConnectionFactory, Apache.NMS" />
        <assembly name="smolensk.common" />
        <assembly name="meridian.smolensk" />
        <container>
            <register type="ThumbnailGenerator" name="medium">
                <property name="CommandString">
                    <value value="width=200&amp;height=130&amp;mode=crop&amp;anchor=middlecenter" />
                </property>
            </register>
            <register type="ThumbnailGenerator" name="small">
                <property name="CommandString">
                    <value value="width=80&amp;height=80&amp;mode=crop&amp;anchor=middlecenter" />
                </property>
            </register>
            <register type="ThumbnailGenerator" name="large">
                <property name="CommandString">
                    <value value="width=463&amp;height=296&amp;mode=crop&amp;anchor=middlecenter" />
                </property>
            </register>
            <register type="ThumbnailGenerator" name="normal">
                <property name="CommandString">
                    <value value="width=800&amp;height=800&amp;mode=max" />
                </property>
            </register>
            <register type="NewsImageMarkupProcessorSettings">
                <property name="SmallThumbnailGenerator">
                    <dependency name="small" />
                </property>
                <property name="MediumThumbnailGenerator">
                    <dependency name="medium" />
                </property>
                <property name="LargeThumbnailGenerator">
                    <dependency name="large" />
                </property>
                <property name="NormalThumbnailGenerator">
                    <dependency name="normal" />
                </property>
            </register>
            <register type="smolensk.common.UrlBuilder">
                <constructor />
            </register>
            <register type="ThumbnailGenerator" name="videoThumbnail">
                <property name="CommandString">
                    <value value="width=240&amp;height=180&amp;mode=stretch" />
                </property>
            </register>
            <register type="VideoMarkupProcessorSettings">
                <property name="ThumbnailGenerator">
                    <dependency name="videoThumbnail" />
                </property>
            </register>
            <register type="ThumbnailGenerator" name="blogList">
                <property name="CommandString">
                    <value value="width=200&amp;height=365&amp;mode=crop&amp;anchor=middlecenter" />
                </property>
            </register>
            <register type="BlogsImageMarkupProcessorSettings">
                <property name="ListThumbnailGenerator">
                    <dependency name="blogList" />
                </property>
                <property name="NormalThumbnailGenerator">
                    <dependency name="normal" />
                </property>
            </register>
            <register type="ITemplateProvider" mapTo="AspxTemplateProvider">
                <lifetime type="singleton" />
                <property name="TemplatesVirtualPath" value="~/Views/Mail/" />
            </register>
            <register type="INotificationSender" mapTo="FileNotificationSender">
                <lifetime type="singleton" />
                <property name="DirectoryVirtualPath" value="~/content/messages/" />
            </register>
        </container>
    </unity>
    <appSettings>
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="VKClientID" value="3798034" />
        <!-- Для боевого - 3797459 -->
        <add key="VKClientSecretCode" value="t3JQBaqQshXSQRvi6owm" />
        <!-- Для боевого - Cqlc3l4AuGkwF7DnNYml -->
        <add key="FBClientID" value="401140103323778" />
        <!-- Для боевого - 709413502418563 -->
        <add key="FBClientSecretCode" value="eac8336b7032fc402212669246ce3f20" />
        <!-- Для боевого - 6c4bffb1b7b2bc3cff4460396063dbb6 -->
        <add key="GPClientID" value="688784841088.apps.googleusercontent.com" />
        <!-- Для боевого - 992120694717.apps.googleusercontent.com -->
        <add key="GPClientSecretCode" value="zlQS1rM7a5X2BzDK1MliaQgS" />
        <!-- Для боевого - h9vqrUiuc70mroGDujgTmSBQ -->
        <!-- <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="smolensk" />
        <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
        <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" /> -->

        <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false"/>
        <add key="MvcSiteMapProvider_SiteMapFileName" value="~/Mvc.sitemap"/>
        <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="false"/>
        <add key="MvcSiteMapProvider_ExcludeAssembliesForScan" value=""/>
        <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value=""/>
        <add key="MvcSiteMapProvider_AttributesToIgnore" value=""/>
        <add key="MvcSiteMapProvider_CacheDuration" value="300"/>
        <add key="MvcSiteMapProvider_ControllerTypeResolverAreaNamespacesToIgnore" value=""/>
        <add key="MvcSiteMapProvider_DefaultSiteMapNodeVisibiltyProvider" value=""/>
        <add key="MvcSiteMapProvider_SecurityTrimmingEnabled" value="false"/>
        <add key="MvcSiteMapProvider_EnableLocalization" value="true"/>
        <add key="MvcSiteMapProvider_EnableSitemapsXml" value="true"/>
        <add key="MvcSiteMapProvider_EnableResolvedUrlCaching" value="true"/>
        <add key="MvcSiteMapProvider_EnableSiteMapFile" value="true"/>
        <add key="MvcSiteMapProvider_IncludeRootNodeFromSiteMapFile" value="true"/>
        <add key="MvcSiteMapProvider_EnableSiteMapFileNestedDynamicNodeRecursion" value="false"/>

        <add key="CountMinNews" value="3" />
        
    </appSettings>
    <connectionStrings configSource="cs.config" />
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" name=".SMOLENSKAUTH" protection="All" path="/" domain="localhost" />
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
                <add namespace="smolensk.Models" />
                <add namespace="smolensk.ViewModels" />
                <add namespace="Telerik.Web.Mvc" />
                <add namespace="Telerik.Web.Mvc.UI" />
                <add namespace="smolensk.common.HtmlHelpers" />
                <add namespace="smolensk.Services" />
                <add namespace="smolensk.Extensions" />
                <add namespace="MvcSiteMapProvider.Web.Html" />
                <add namespace="MvcSiteMapProvider.Web.Html.Models" />
            </namespaces>
        </pages>
        <httpHandlers>
            <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
        </httpHandlers>
        <httpRuntime maxRequestLength="1048576" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <remove name="asset" />
            <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <smolensk.Properties.Settings>
            <setting name="smolensk_ru_cbr_www_DailyInfo" serializeAs="String">
                <value>http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx</value>
            </setting>
        </smolensk.Properties.Settings>
    </applicationSettings>
</configuration>