body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Стр_ресторана_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:857px;
    width:180px;
    height:32px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:38px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Шапка_files/u21_normal.png');
}

.u2_container {
    position:absolute;
    left:636px;
    top:52px;
    width:264px;
    height:104px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Шапка_files/u23_normal.png');
}

.u4_container {
    position:absolute;
    left:101px;
    top:0px;
    width:700px;
    height:52px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u5 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Шапка_files/u25_normal.png');
}

.u6_container {
    position:absolute;
    left:1px;
    top:52px;
    width:635px;
    height:79px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:647px;
    top:82px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:647px;
    top:117px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:833px;
    top:83px;
    width:61px;
    height:54px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:1px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:534px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../Шапка_files/u32_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:58px;
    width:316px;
    height:66px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u14 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u16_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u16_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u17 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u18_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u20_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u22_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u24_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u26_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u28_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u30_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u32_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_container {
    position:absolute;
    left:18px;
    top:385px;
    width:363px;
    height:304px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:363px;
    height:304px;
}

.u37 {
    position:absolute;
    left:2px;
    top:144px;
    width:359px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:84px;
    top:356px;
    width:236px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Стр_ресторана_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:340px;
    top:353px;
    width:120px;
    height:24px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:24px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Стр_ресторана_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:412px;
    top:387px;
    width:69px;
    height:43px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:43px;
}

.u42 {
    position:absolute;
    left:2px;
    top:14px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:402px;
    top:440px;
    width:348px;
    height:148px
}

.u44_normal {
    background-image: url('../Стр_ресторана_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:115px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:7px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Стр_ресторана_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:115px;
    top:0px;
    width:228px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:7px;
    width:224px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Стр_ресторана_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:30px;
    width:115px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Стр_ресторана_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:115px;
    top:30px;
    width:228px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:224px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Стр_ресторана_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:50px;
    width:115px;
    height:28px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:34px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Стр_ресторана_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:115px;
    top:50px;
    width:228px;
    height:28px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:34px;
}

.u55 {
    position:absolute;
    left:2px;
    top:6px;
    width:224px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Стр_ресторана_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:78px;
    width:115px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Стр_ресторана_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:115px;
    top:78px;
    width:228px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:224px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Стр_ресторана_files/u48_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:103px;
    width:115px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Стр_ресторана_files/u50_normal.png');
}

.u62_container {
    position:absolute;
    left:115px;
    top:103px;
    width:228px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:224px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Стр_ресторана_files/u48_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:123px;
    width:115px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Стр_ресторана_files/u50_normal.png');
}

.u66_container {
    position:absolute;
    left:115px;
    top:123px;
    width:228px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:224px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:430px;
    top:686px;
    width:240px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:20px;
    top:192px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:20px;
    top:193px;
    width:70px;
    height:15px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:21px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Стр_ресторана_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:530px;
    top:495px;
    width:118px;
    height:19px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:19px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Стр_ресторана_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:20px;
    top:914px;
    width:707px;
    height:328px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:707px;
    height:328px;
}

.u75 {
    position:absolute;
    left:2px;
    top:156px;
    width:703px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Стр_ресторана_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:20px;
    top:697px;
    width:406px;
    height:55px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:406px;
    height:55px;
}

.u77 {
    position:absolute;
    left:2px;
    top:20px;
    width:402px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:402px;
    top:619px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:582px;
    top:619px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:20px;
    top:765px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:200px;
    top:765px;
    width:240px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Стр_ресторана_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:10px;
    top:804px;
    width:660px;
    height:43px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:660px;
    height:43px;
}

.u83 {
    position:absolute;
    left:2px;
    top:14px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Стр_ресторана_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:760px;
    top:212px;
    width:140px;
    height:527px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:533px;
}

.u85 {
    position:absolute;
    left:2px;
    top:256px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Стр_ресторана_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:760px;
    top:739px;
    width:140px;
    height:380px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:386px;
}

.u87 {
    position:absolute;
    left:2px;
    top:174px;
    width:136px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Стр_ресторана_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:1250px;
    width:900px;
    height:80px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:86px;
}

.u89 {
    position:absolute;
    left:2px;
    top:21px;
    width:896px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_container {
    position:absolute;
    left:0px;
    top:1329px;
    width:898px;
    height:266px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:898px;
    height:266px;
}

.u91 {
    position:absolute;
    left:2px;
    top:125px;
    width:894px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Стр_ресторана_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:1329px;
    width:898px;
    height:266px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:904px;
    height:272px;
}

.u93 {
    position:absolute;
    left:2px;
    top:91px;
    width:894px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Стр_ресторана_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:1595px;
    width:898px;
    height:273px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:904px;
    height:279px;
}

.u95 {
    position:absolute;
    left:2px;
    top:98px;
    width:894px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Стр_ресторана_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:14px;
    top:212px;
    width:713px;
    height:72px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:713px;
    height:72px;
}

.u97 {
    position:absolute;
    left:2px;
    top:28px;
    width:709px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:1952px;
    width:900px;
    height:38px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u99 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u100_menu {
    position:absolute;
    left:-3px;
    top:1865px;
    width:909px;
    height:35px;
}

#u100_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u101 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u102_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u104_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u106_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u108_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u110_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u112_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u114_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u116_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:1894px;
    width:900px;
    height:58px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u120 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:25px;
    top:1962px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:795px;
    top:1962px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Стр_ресторана_files/u0_normal.png');
}

.u126_container {
    position:absolute;
    left:200px;
    top:857px;
    width:180px;
    height:32px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:38px;
}

.u127 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:16px;
    top:0px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:480px;
    top:353px;
    width:240px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:742px;
    top:599px;
    width:326px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Стр_ресторана_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:14px;
    top:276px;
    width:712px;
    height:67px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:718px;
    height:73px;
}

.u133 {
    position:absolute;
    left:2px;
    top:26px;
    width:708px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:20px;
    top:294px;
    width:700px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:524px;
    top:405px;
    width:203px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u136 {
    position:absolute;
    left:760px;
    top:360px;
    width:120px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

