body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Меню_компании_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:-3px;
    top:179px;
    width:183px;
    height:327px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:324px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:173px;
    height:317px
}

.u2_normal {
    background-image: url('../Меню_компании_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:58px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Меню_компании_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:52px;
    width:168px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:42px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:88px;
    width:168px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:108px;
    width:168px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:128px;
    width:168px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:148px;
    width:168px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Меню_компании_files/u2_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:168px;
    width:168px;
    height:52px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:58px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Меню_компании_files/u4_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:220px;
    width:168px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Меню_компании_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:256px;
    width:168px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Меню_компании_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:276px;
    width:168px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Избранные_компании_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:580px;
    top:159px;
    width:110px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:189px;
    top:191px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:271px;
    top:191px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:369px;
    top:191px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Избранные_компании_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:189px;
    top:288px;
    width:552px;
    height:170px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:558px;
    height:176px;
}

.u29 {
    position:absolute;
    left:2px;
    top:77px;
    width:548px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:189px;
    top:224px;
    width:540px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Избранные_компании_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:199px;
    top:298px;
    width:91px;
    height:100px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:100px;
}

.u32 {
    position:absolute;
    left:2px;
    top:42px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:299px;
    top:298px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:299px;
    top:324px;
    width:409px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Избранные_компании_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:379px;
    top:295px;
    width:76px;
    height:19px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:19px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:299px;
    top:366px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Избранные_компании_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:299px;
    top:392px;
    width:442px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:442px;
    height:25px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:438px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Избранные_компании_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:436px;
    top:425px;
    width:130px;
    height:29px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:29px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Избранные_компании_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:593px;
    top:425px;
    width:133px;
    height:27px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:27px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Избранные_компании_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:600px;
    top:366px;
    width:108px;
    height:18px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:18px;
}

.u45 {
    position:absolute;
    left:2px;
    top:1px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Избранные_компании_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:751px;
    top:316px;
    width:149px;
    height:272px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:278px;
}

.u47 {
    position:absolute;
    left:2px;
    top:128px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Избранные_компании_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:751px;
    top:192px;
    width:149px;
    height:114px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:120px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Избранные_компании_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:189px;
    top:478px;
    width:552px;
    height:170px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:558px;
    height:176px;
}

.u51 {
    position:absolute;
    left:2px;
    top:77px;
    width:548px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Избранные_компании_files/u31_normal.png');
}

.u52_container {
    position:absolute;
    left:199px;
    top:488px;
    width:91px;
    height:100px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:100px;
}

.u53 {
    position:absolute;
    left:2px;
    top:42px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:299px;
    top:488px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:299px;
    top:514px;
    width:409px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Избранные_компании_files/u35_normal.png');
}

.u56_container {
    position:absolute;
    left:379px;
    top:485px;
    width:76px;
    height:19px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:19px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:299px;
    top:556px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Избранные_компании_files/u38_normal.png');
}

.u59_container {
    position:absolute;
    left:299px;
    top:582px;
    width:442px;
    height:25px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:442px;
    height:25px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:438px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Избранные_компании_files/u40_normal.png');
}

.u61_container {
    position:absolute;
    left:436px;
    top:615px;
    width:130px;
    height:29px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:29px;
}

.u62 {
    position:absolute;
    left:2px;
    top:6px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Избранные_компании_files/u42_normal.png');
}

.u63_container {
    position:absolute;
    left:593px;
    top:615px;
    width:133px;
    height:27px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:27px;
}

.u64 {
    position:absolute;
    left:2px;
    top:6px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Избранные_компании_files/u44_normal.png');
}

.u65_container {
    position:absolute;
    left:600px;
    top:556px;
    width:108px;
    height:18px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:18px;
}

.u66 {
    position:absolute;
    left:2px;
    top:1px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:776px;
    top:265px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:760px;
    top:224px;
    width:130px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_container {
    position:absolute;
    left:2px;
    top:890px;
    width:898px;
    height:266px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:898px;
    height:266px;
}

.u70 {
    position:absolute;
    left:2px;
    top:125px;
    width:894px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Избранные_компании_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:2px;
    top:890px;
    width:898px;
    height:266px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:904px;
    height:272px;
}

.u72 {
    position:absolute;
    left:2px;
    top:101px;
    width:894px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:402px;
    top:262px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Избранные_компании_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:189px;
    top:845px;
    width:146px;
    height:19px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:19px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Избранные_компании_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:548px;
    top:842px;
    width:193px;
    height:31px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:8px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Избранные_компании_files/u50_normal.png');
}

.u78_container {
    position:absolute;
    left:189px;
    top:670px;
    width:552px;
    height:170px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:558px;
    height:176px;
}

.u79 {
    position:absolute;
    left:2px;
    top:77px;
    width:548px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Избранные_компании_files/u31_normal.png');
}

.u80_container {
    position:absolute;
    left:199px;
    top:680px;
    width:91px;
    height:100px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:100px;
}

.u81 {
    position:absolute;
    left:2px;
    top:42px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:299px;
    top:680px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:299px;
    top:706px;
    width:409px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Избранные_компании_files/u35_normal.png');
}

.u84_container {
    position:absolute;
    left:379px;
    top:677px;
    width:76px;
    height:19px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:19px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:299px;
    top:748px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Избранные_компании_files/u38_normal.png');
}

.u87_container {
    position:absolute;
    left:299px;
    top:774px;
    width:442px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:442px;
    height:25px;
}

.u88 {
    position:absolute;
    left:2px;
    top:4px;
    width:438px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Избранные_компании_files/u40_normal.png');
}

.u89_container {
    position:absolute;
    left:436px;
    top:807px;
    width:130px;
    height:29px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:29px;
}

.u90 {
    position:absolute;
    left:2px;
    top:6px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Избранные_компании_files/u42_normal.png');
}

.u91_container {
    position:absolute;
    left:593px;
    top:807px;
    width:133px;
    height:27px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:27px;
}

.u92 {
    position:absolute;
    left:2px;
    top:6px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Избранные_компании_files/u44_normal.png');
}

.u93_container {
    position:absolute;
    left:600px;
    top:748px;
    width:108px;
    height:18px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:18px;
}

.u94 {
    position:absolute;
    left:2px;
    top:1px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Избранные_компании_files/u46_normal.png');
}

.u95_container {
    position:absolute;
    left:751px;
    top:598px;
    width:149px;
    height:272px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:278px;
}

.u96 {
    position:absolute;
    left:2px;
    top:112px;
    width:145px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:1240px;
    width:900px;
    height:38px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u98 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u99_menu {
    position:absolute;
    left:-3px;
    top:1153px;
    width:909px;
    height:35px;
}

#u99_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u100 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u101_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u103_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u105_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u107_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u109_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u111_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u113_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u115_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:1182px;
    width:900px;
    height:58px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u119 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:25px;
    top:1250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:795px;
    top:1250px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:480px;
    top:290px;
    width:261px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:7px;
    top:500px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Шапка_ЛК_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:635px;
    top:52px;
    width:264px;
    height:104px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Шапка_ЛК_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:100px;
    top:0px;
    width:700px;
    height:52px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u128 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Шапка_ЛК_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:52px;
    width:635px;
    height:79px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u130 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:0px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u132 {
    position:absolute;
    left:533px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133_normal {
    background-image: url('../Шапка_ЛК_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:9px;
    top:58px;
    width:316px;
    height:66px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u134 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:645px;
    top:62px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:645px;
    top:104px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u138_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u138_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u139 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u140_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u142_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u144_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u146_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u148_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u150_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u152_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u154_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

