body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Одно_объявление_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:17px;
    top:1930px;
    width:702px;
    height:297px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:702px;
    height:297px;
}

.u1 {
    position:absolute;
    left:2px;
    top:140px;
    width:698px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Одно_объявление_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:6px;
    top:930px;
    width:726px;
    height:510px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:732px;
    height:516px;
}

.u3 {
    position:absolute;
    left:2px;
    top:247px;
    width:722px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Шапка_files/u21_normal.png');
}

.u4_container {
    position:absolute;
    left:636px;
    top:52px;
    width:264px;
    height:104px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:110px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Шапка_files/u23_normal.png');
}

.u6_container {
    position:absolute;
    left:101px;
    top:0px;
    width:700px;
    height:52px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:58px;
}

.u7 {
    position:absolute;
    left:2px;
    top:15px;
    width:696px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Шапка_files/u25_normal.png');
}

.u8_container {
    position:absolute;
    left:1px;
    top:52px;
    width:635px;
    height:79px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:641px;
    height:85px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:631px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:647px;
    top:82px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:647px;
    top:117px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:833px;
    top:83px;
    width:61px;
    height:54px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:1px;
    top:131px;
    width:531px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:534px;
    top:131px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_normal {
    background-image: url('../Шапка_files/u32_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:58px;
    width:316px;
    height:66px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:316px;
    height:66px;
}

.u16 {
    position:absolute;
    left:2px;
    top:25px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u18_menu {
    position:absolute;
    left:-3px;
    top:153px;
    width:909px;
    height:35px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u19 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u20_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u24_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u26_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u28_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u30_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u32_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u34_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:10px;
    top:192px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:92px;
    top:192px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:188px;
    top:193px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:270px;
    top:194px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:10px;
    top:224px;
    width:200px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:10px;
    top:246px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_container {
    position:absolute;
    left:10px;
    top:272px;
    width:722px;
    height:436px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:722px;
    height:436px;
}

.u45 {
    position:absolute;
    left:2px;
    top:210px;
    width:718px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Одно_объявление_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:220px;
    top:224px;
    width:326px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:326px;
    height:25px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:10px;
    top:971px;
    width:710px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:10px;
    top:893px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:220px;
    top:249px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:16px;
    top:1029px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Одно_объявление_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:390px;
    top:1345px;
    width:92px;
    height:21px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:21px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Одно_объявление_files/u52_normal.png');
}

.u54_container {
    position:absolute;
    left:732px;
    top:3122px;
    width:92px;
    height:21px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:21px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:16px;
    top:1073px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:16px;
    top:1148px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:16px;
    top:1123px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:15px;
    top:1050px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:16px;
    top:1098px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Одно_объявление_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:12px;
    top:1170px;
    width:493px;
    height:229px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:493px;
    height:229px;
}

.u62 {
    position:absolute;
    left:2px;
    top:106px;
    width:489px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:1399px;
    width:374px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Одно_объявление_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:10px;
    top:718px;
    width:388px;
    height:97px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:388px;
    height:97px;
}

.u65 {
    position:absolute;
    left:2px;
    top:40px;
    width:384px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Одно_объявление_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:16px;
    top:815px;
    width:187px;
    height:21px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:21px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:230px;
    top:813px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_normal {
    background-image: url('../Одно_объявление_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:6px;
    top:1460px;
    width:726px;
    height:430px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:732px;
    height:436px;
}

.u70 {
    position:absolute;
    left:2px;
    top:207px;
    width:722px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Одно_объявление_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:10px;
    top:2251px;
    width:740px;
    height:206px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:212px;
}

.u72 {
    position:absolute;
    left:2px;
    top:95px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Подвал_files/u60_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:2551px;
    width:900px;
    height:38px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:44px;
}

.u74 {
    position:absolute;
    left:2px;
    top:11px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_menu {
    background-image: url('../Меню_главное_files/u2_menu.png');
}

.u75_menu {
    position:absolute;
    left:-3px;
    top:2464px;
    width:909px;
    height:35px;
}

#u75_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:32px;
}

#u76 {
    position:absolute;
    left:3px;
    top:3px;
    width:899px;
    height:25px
}

.u77_normal {
    background-image: url('../Меню_главное_files/u4_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u79_container {
    position:absolute;
    left:114px;
    top:0px;
    width:108px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Меню_главное_files/u8_normal.png');
}

.u81_container {
    position:absolute;
    left:222px;
    top:0px;
    width:122px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Меню_главное_files/u10_normal.png');
}

.u83_container {
    position:absolute;
    left:344px;
    top:0px;
    width:125px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Меню_главное_files/u6_normal.png');
}

.u85_container {
    position:absolute;
    left:469px;
    top:0px;
    width:108px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Меню_главное_files/u14_normal.png');
}

.u87_container {
    position:absolute;
    left:577px;
    top:0px;
    width:110px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Меню_главное_files/u16_normal.png');
}

.u89_container {
    position:absolute;
    left:687px;
    top:0px;
    width:106px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Меню_главное_files/u18_normal.png');
}

.u91_container {
    position:absolute;
    left:793px;
    top:0px;
    width:101px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Подвал_files/u81_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:2493px;
    width:900px;
    height:58px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:64px;
}

.u95 {
    position:absolute;
    left:2px;
    top:18px;
    width:896px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:25px;
    top:2561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:795px;
    top:2561px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Одно_объявление_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:760px;
    top:443px;
    width:220px;
    height:370px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:376px;
}

.u100 {
    position:absolute;
    left:2px;
    top:177px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Одно_объявление_files/u99_normal.png');
}

.u101_container {
    position:absolute;
    left:760px;
    top:1264px;
    width:220px;
    height:370px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:376px;
}

.u102 {
    position:absolute;
    left:2px;
    top:177px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Одно_объявление_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:760px;
    top:823px;
    width:220px;
    height:431px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:437px;
}

.u104 {
    position:absolute;
    left:2px;
    top:208px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:770px;
    top:834px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Одно_объявление_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:762px;
    top:860px;
    width:218px;
    height:373px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:373px;
}

.u107 {
    position:absolute;
    left:2px;
    top:178px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:469px;
    top:1939px;
    width:175px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109_normal {
    background-image: url('../Одно_объявление_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:16px;
    top:1908px;
    width:148px;
    height:22px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:22px;
}

.u110 {
    position:absolute;
    left:2px;
    top:3px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Одно_объявление_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:12px;
    top:1503px;
    width:711px;
    height:340px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:340px;
}

.u112 {
    position:absolute;
    left:2px;
    top:162px;
    width:707px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Одно_объявление_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:6px;
    top:930px;
    width:726px;
    height:31px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:732px;
    height:37px;
}

.u114 {
    position:absolute;
    left:2px;
    top:8px;
    width:722px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:10px;
    top:937px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Одно_объявление_files/u113_normal.png');
}

.u116_container {
    position:absolute;
    left:6px;
    top:1460px;
    width:726px;
    height:31px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:732px;
    height:37px;
}

.u117 {
    position:absolute;
    left:2px;
    top:8px;
    width:722px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:12px;
    top:1467px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Одно_объявление_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:10px;
    top:848px;
    width:353px;
    height:35px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:353px;
    height:35px;
}

.u120 {
    position:absolute;
    left:2px;
    top:10px;
    width:349px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Одно_объявление_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:748px;
    top:272px;
    width:225px;
    height:161px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:161px;
}

.u122 {
    position:absolute;
    left:2px;
    top:72px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:654px;
    top:1932px;
    width:119px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

